-
    request:
        method: GET
        url: 'https://api.shop-pro.jp/v1/products.json?limit=10&offset=0&display_state=0'
        headers:
            Authorization: 'Bearer dummy'
    response:
        status:
            code: '200'
            message: OK
        headers:
            Content-Type: 'application/json; charset=utf-8'
            Status: '200 OK'
            ETag: 'W/"68e630ef6ca0b2432caf60fb497bf543"'
        body: '{"products":[{"id":118849164,"account_id":"PA01356136","model_number":"","name":"\u30c6\u30b9\u30c8\u5546\u54c1","category":{"id_big":2131603,"id_small":0},"group_ids":[],"display_state":"showing","sales_price":1000,"price":null,"members_price":1011,"cost":null,"cool_charge":null,"delivery_charge":null,"stock_managed":true,"stocks":184,"min_num":null,"max_num":null,"sale_start_date":null,"sale_end_date":null,"unit":"","weight":null,"soldout_display":false,"few_num":null,"sort":null,"simple_expl":"","expl":"","mobile_expl":"","smartphone_expl":"","make_date":1496911524,"update_date":1496911524,"memo":"","image_url":null,"mobile_image_url":null,"thumbnail_image_url":null,"images":[],"options":[],"variants":[]},{"id":118849163,"account_id":"PA01356136","model_number":"","name":"\u30c6\u30b9\u30c8\u5546\u54c1","category":{"id_big":2131603,"id_small":0},"group_ids":[],"display_state":"showing","sales_price":1000,"price":null,"members_price":1011,"cost":null,"cool_charge":null,"delivery_charge":null,"stock_managed":true,"stocks":184,"min_num":null,"max_num":null,"sale_start_date":null,"sale_end_date":null,"unit":"","weight":null,"soldout_display":false,"few_num":null,"sort":null,"simple_expl":"","expl[...]
